footer {
    display: block;
    width: 100%;
    color: $color-white;
    
    ul {
        padding: 0;
        margin: 0;
    }

    a {
        display: flex;
        padding: 0.5rem;
        font-family: $font-primary;
        justify-content: center;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;

        @include responsive (desktop) {
            display: block;
        }
    }
}