/* grid */
.grid {
    box-sizing: border-box;
    padding: 2rem 1rem 0 1rem;
    width: 100%;
    max-width: 100%;

    @include responsive(tablet) {
        padding: 0 0rem;
        justify-content: center;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr;
    }
    
    @include responsive(desktop) {
        display: grid;
        padding: 0 2rem;
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
    }
}

.grid-case-studies {
    box-sizing: border-box;
    padding: 2rem 1rem 0 1rem;
    width: 100%;
    max-width: 100%;

    @include responsive(desktop) {
        display: grid;
        grid-column-gap: 4rem;
        padding: 0 2rem;
        grid-template-columns: 6fr 8fr 4fr;
    }
}

/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

@for $i from 1 through 5 {
    .grid-start#{$i} { grid-column-start: $i; }
    .grid-end#{$i} { grid-column-end: $i; }
}


/* flexbox */
.grid-flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include responsive (desktop) {
    }
}


/* Sélecteurs pour margin */
[data-m] { margin: attr(data-m rem); }
[data-mt] { margin-top: attr(data-mt rem); }
[data-mb] { margin-bottom: attr(data-mb rem); }
[data-ml] { margin-left: attr(data-ml rem); }
[data-mr] { margin-right: attr(data-mr rem); }
[data-mx] {
    margin-left: attr(data-mx rem);
    margin-right: attr(data-mx rem);
}
[data-my] {
    margin-top: attr(data-my rem);
    margin-bottom: attr(data-my rem);
}