/* grid */
.grid {
    @include grid(0 1rem, 0);

    @include responsive(tablet) {
        padding: 0 8rem;
        max-width: 100dvw;
        justify-content: center;
    }

    @include responsive(tablet-landscape) {
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
    }
    
    @include responsive(desktop) {
        grid-column-gap: 2rem;
    }
}


/* grid pour les cards */
.grid-card {
    @include grid(0 1rem, 2rem);
    margin: 2rem 0;

    @include responsive(tablet) {
        max-width: 100dvw;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        margin: 3rem 0;
        padding: 0 6rem;
    }

    @include responsive(tablet-landscape) {
        grid-template-columns: 3fr 4fr 2fr;
        margin: 0 auto;
        padding: 0 6rem;
    }
}


/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

@for $i from 1 through 5 {
    .grid-start#{$i} { grid-column-start: $i; }
    .grid-end#{$i} { grid-column-end: $i; }
}


/* flexbox */
.grid-flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}