svg {
    width: 2rem;
    height: 2rem;;

    path {
        width: 2rem;;
        height: 2rem;;
    }
}

.icon {
    width: 2rem;
    height: 2rem;;
}


.icon-social {
    width: 3rem;
    height: 3rem;

    &:hover {
        scale: 1.2;

        svg {            
            path {
                fill: $color-primary;
            }
        }
    }

    @include responsive(desktop) {
        width: 3rem;
        height: 3rem;
    }
}

.img-sections {
    position: relative;
    object-fit: cover;
    aspect-ratio: 10/10;
    width: calc(100% + 2rem);
    left: -1rem;
    filter: grayscale(100%);
    margin-bottom: 2rem;

    @include responsive(desktop) {
        width: calc(100% + 6rem);
        left: -2rem;
        z-index: -1000;
        margin-bottom: 4rem;
    }
}

.fit {
    object-fit:fill;
}

.card {
    margin: 2rem 0;
    
    @include responsive(desktop) {
        margin: 4rem 0;
    }
}
.img-card {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 10/10;
    filter: grayscale(100%);
    margin-bottom: 1rem;

    &:hover {
        filter: grayscale(0%);
    }
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img-sections,
.title-section,
.paragraph,
.cardUp,
.cardDown {
  will-change: transform, opacity;
  backface-visibility: hidden;
}