/* images et icon pour les navgations */
svg {
    width: 2rem;
    height: 2rem;

    path {
        width: 2rem;
        height: 2rem;
    }
}

.icon {
    width: 2rem;
    height: 2rem;
}


.icon-social {
    width: 3rem;
    height: 3rem;

    @include responsive(desktop) {
        width: 3rem;
        height: 3rem;
    }
}


/* images des sections */
.img-sections {
    position: relative;
    object-fit: cover;
    aspect-ratio: 10/10;
    width: calc(100% + 2rem);
    left: -1rem;
    filter: grayscale(100%) brightness(0.70) contrast(1.05);
    margin-bottom: 2rem;

    @include responsive(tablet) {
        width: calc(100% + 4rem);
        left: -2rem;
    }

    @include responsive(tablet-landscape) {
        z-index: -1000;
        width: calc(100% + 12rem);
        left: -8rem;
    }

    @include responsive(desktop) {
        margin-bottom: 4rem;
    }
}

figure {
    margin: 0;
}


/* cards */
.card {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    overflow: hidden;
}

.img-card {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 10/10;
    filter: grayscale(100%);
    margin-bottom: 1rem;
    transition: filter 0.2s ease;
}

.fit {
    object-fit: fill;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Pour les animations */ //conseil de de L'IA
.img-sections,
.title-section,
.paragraph,
.cardUp,
.cardDown {
  will-change: transform, opacity;
  backface-visibility: hidden;
}