.icon-social {
    width: 40px;
    height: 40px;

    &:hover {
        scale: 1.2;
    }

    @include responsive(desktop) {
        width: 60px;
        height: 60px;
    }
}

.icon {
    width: 20px;
    height: 20px;

    @include responsive(desktop) {
        width: 30px;
        height: 30px;
    }
}

.img-sections {
    position: relative;
    width: calc(100% + 2rem);
    left: -1rem;
    filter: grayscale(100%);

    @include responsive(desktop) {
        width: calc(100% + 6rem);
        left: -2rem;
        z-index: -1000;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}