/* progress bar */ //progress bar vient d'un ancien projet
#progress-bar-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: transparent;
    z-index: 10000;
}
 
#progress-bar {
    height: 100%;
    background-color: $color-primary;
    width: 0;
    transition: width 0.1s ease-out;
}

nav, .anchor-nav, .socials {
    position: fixed;
    z-index: 1000;
    padding: 0;
    list-style: none;
    color: $color-white;
    font-family: $font-primary;
    text-transform: uppercase;
}


/* navigation */
nav {
    left: 2rem;
    margin: 1rem 0;
}

.nav-mobile {
    background-color: $color-white;
    border-radius: 2rem;
    position: fixed;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-mobile {
    /* max-width: 3rem; */
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease;

    svg {
        display: flex;
        justify-content: center;
        
        path {
            fill: #222;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}
.page-mobile:first-child {
    padding-right: 0;
}
.page-mobile--active {
    text-decoration: none;
    color: $color-primary;
    font-weight: 600;

    svg {
        path {
            fill: $color-primary;
        }
    }
}

.page {
    display: block;
    text-decoration: none;
    font-family: $font-primary;
    font-weight: 100;
    color: $color-white;
    padding-bottom: 1rem;
    transition: all 0.1s ease;

    &:hover {
        transform: scale(1.05);
        color: $color-primary;
        font-weight: 600;
    }
}
.page--active {
    color: $color-primary;
    font-weight: 600;
}


/* Socials */
.socials {
    right: 1rem;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    gap: 1rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    bottom: 2rem;
    
    @include responsive(tablet-landscape) {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 2rem;
        top: 1rem;
        right: 2rem;
    }

    a.link {
        transition: all 0.1s ease;
        cursor: pointer;
        
        svg.icon-social {
            fill: $color-white;
            transition: all 0.1s ease;
            
            path {
                fill: $color-white;
            }
        }
        
        &:hover {
            color: inherit; // Empêche le changement de couleur du texte
            font-weight: inherit; // Empêche le changement de font-weight
            
            svg.icon-social {
                fill: $color-primary !important;
                transform: scale(1.05);
                
                path {
                    fill: $color-primary !important;
                }
            }
        }
    }
}


/* BackToTop */ /* BackToSafe */
.back-to-top, .back-to-safe {
    z-index: 1000;
    position: fixed;
    background-color: $color-white;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    bottom: 2rem;
    left: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;

    @include responsive(tablet) {
        bottom: 2rem;
        left: 2rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: $color-primary;
        
        .icon {
            filter: brightness(0) invert(1);
        }
    }
}

/* BackToSafe */
.back-to-safe {
    top: 1rem;

    .icon {
        transform-origin: 0%;
        transform: rotate(-90deg);
    }
}

/* Devices */
.desktop {
    display: none;
    @include responsive(desktop) { display: block; }
}

.mobile {
    display: flex;
    @include responsive(desktop) { display: none; }
}