.btn {
    @include button-style($color-white, #222, $color-primary, #222);
    display: flex;
    position: fixed;
    top: 1rem;
    right: 1rem ;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 10/10;
    font-family: $font-primary;
    border-radius: 100%;
    text-decoration: none;

    @include responsive (tablet-landscape) {
        top: calc(100dvh - 5rem);
        right: 2rem;
    }
}