/* cursor */
a, button {
    cursor: none;
}
  
.link {
    text-decoration: none;
    color: $color-white;
}

.cursor {
    position: absolute;
    z-index: 10000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.hover {
    transform: translate(-50%, -50%) scale(3);
    transition: transform 250ms ease-in-out;
}
  
.outer {
    border: 1.5px solid $color-primary;
}
.inner {
    background: #ffffff50;
    transition: 250ms ease-out;
}  
.inner.hover {
    background: $color-white;
    mix-blend-mode: difference;
}