/* cursor */
a, button {
    cursor: none;
}
  
.link {
    text-decoration: none;
    transition: all 0.1s ease;
}

/* Hover pour les liens généraux */
.link-general:hover {
  color: $color-primary;
  transform: scale(1.05);
  font-weight: 600;
}

/* Hover spécifique pour les cartes */
.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.2s ease;
}

.card-link:hover {
    transform: scale(1.02);
    transform-origin: center;
}

.card-link:hover .title-card {
    color: $color-primary;
    font-weight: 600;
}

.card-link:hover .img-card {
    filter: grayscale(0%);
}

/* le cursor est inspiré d'une vidéo YouTube => crédits*/
.cursor {
    position: fixed;
    z-index: 10000;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    /* mix-blend-mode: difference; */
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.hover {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 200ms ease-in-out;
}

.inner {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url('../assets/images/cursor.svg');
    color: $color-primary;
    background-size: cover;
    background-position: center;
}  
.inner.hover {
    background: $color-white;
    width: 2rem;
    height: 2rem;
    mix-blend-mode: difference;
}

.outer {
    border: 2px solid $color-white;
    transition: 100ms ease-out;
}


/* loader */
.loader {
    text-align: center;
    place-items: center;

    p {
        display: flex;
        height: 50dvh;
        justify-content: center;
        align-items: center;
        font-family: $font-primary;
        font-size: 2rem;
        color: white;

        @include responsive (tablet-landscape) {
            height: 100dvh;
        }
    }
}
