/* fonts */
$font-primary: 'darkmode-off', sans-serif;
$font-secondary: '', sans-serif;

/* couleurs */
$color-bg: #222;
$color-white: #fff;
$color-black: #000;
$color-hover: #000;

$color-text: #000;
$color-primary: #E11F1F;
$color-secondary: #000;
$color-tertiary: #000;