/* global style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    @include font-size-responsive(18px, 20px, 24px); // initialisation de la taille de la police pour l'unité rem
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html.has-mouse {
    cursor: none;
}

html.has-touch { // l'idée vient de chatGPT pour débuger le cursor sur mobile
    cursor: auto; // laisse le curseur visible sur tactile
}
  
.has-touch .cursor {
    display: none !important;
    pointer-events: none;
}
  
.has-mouse .cursor {
    display: block;
}
  

header, body, section, footer{
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
}

section {
    margin-top: 4rem;

    @include responsive(tablet) {
        margin-top: 6rem;
    }

    @include responsive(tablet-landscape) {
        margin-top: 8rem;
    }
}

